@charset "UTF-8";
html{
    scroll-behavior:smooth;
    /* position:relative; */
    /* z-index:3; */
}
p.pagetop{
    text-align:right;
    position:fixed;
    bottom: 16px;
    right: 16px;
    opacity:0.20;
}
p.pagetop a{
    display:block;
    text-decoration:none;
}
p.pagetop:hover{
    opacity:0.85;
}

#top{
    /* position: relative; */
    z-index: 3;
}